<article
  class="portfolio-card {% if item.media.image %}porfolio-open-modal{% endif %}"
>
  {% if item.media.image %}
    <figure>
      <img
        src="{{ item.media.image | url }}"
        alt="légende de l'image ou titre du projet"
        class="images"
      />
      {% if item.media.legend %}
        <figcaption class="portfolio-legend">
          <p>{{ item.media.legend }}</p>
        </figcaption>
      {% endif %}
    </figure>
  {% elif item.quote %}
    <figure class="portfolio-card-text split-text-container">
      <p class="split-text">{{ item.quote }}</p>
      {% if item.legend %}
        <figcaption class="portfolio-quote-legend">{{ item.legend }}</figcaption>
      {% endif %}
    </figure>
  {% endif %}
</article>
