<svg
  class="vod-player__icon"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 640 640"
  aria-hidden="true"
  focusable="false"
>
  <path
    fill="currentColor"
    d="M128 80L128 560L560 320L128 80z"
  />
</svg>
